<section id="container">
  <h1>Список категорий</h1>
  <table class="table table-striped">
    <tr>
      <th>Категория</th>
      <th>Описание</th>
      <th colspan="4"></th>
    <tr>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %> </td>
        <td><%= category.about %> </td>
        <td><%= link_to 'Добавить карточку', new_dashboard_user_card_path(current_user, category_id: category) %></td>
        <td><%= link_to 'Активировать', set_current_category_path(category_id: category), method: :put %></td>
        <td><%= link_to 'Редактировать', edit_dashboard_category_path(category) %></td>
        <td><%= link_to 'Удалить', dashboard_category_path(category), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </table>
  <br>
  <%= link_to "Home", root_path %>
 </section>
