 <section id="container">
    <header class="clearfix">
      <h1>Флэшкарточкер</h1>
      <ul class="navigation-links">
        <li><%= link_to "Все карточки", user_cards_path(current_user) %></a></li>
        <li><%= link_to "Добавить карточку", new_user_card_path(current_user) %></a></li>
      </ul>
    </header>

    <section>
      <p style="font-size: 22px;">
        Первый в мире удобный менеджер флеш-карточек. Именно так.
      </p>
        <p style="font-size: 16px; padding: 20px; color:#3366FF;">
          <!-- Если карточки есть, то выводим форму, если нет, то ошибку -->
          <% if @card.nil? %>
            <span class="error">Непросмотренных карточек нет</span>
          <% else %>
            <%= @card.original_text %>
            <!-- Строим форму, делаем ссылку на метод review и передаем ему параметром @card -->
            <%= form_tag review_user_card_path(current_user, @card) do %>
              <%= label_tag :label, "Введите перевод:" %>
              <%= text_field_tag :translated_text %>
              <%= submit_tag "Проверить" %>
            <% end %>
            <% if flash[:translation_status] == 'false' %>
              <span class="error">Неверно!</span> 
            <% elsif flash[:translation_status] == 'true' %>
              <span class="success">Верно! Следующая карточка</span>
            <% end %> 
          <% end %>
        </p>  
    </section>
  </section>
