 <section id="container">

    <header class="clearfix">
      <h1>Флэшкарточкер</h1>
      <ul class="navigation-links">
        <li><%= link_to "Все карточки", cards_path %></a></li>
        <li><%= link_to "Добавить карточку", new_card_path %></a></li>
      </ul>
    </header>

    <section>
      <p style="font-size: 22px;">
        Первый в мире удобный менеджер флеш-карточек. Именно так.
      </p>
        <p style="font-size: 16px; padding: 20px; color:#3366FF;">
          <!-- Если карточки есть, то выводим форму, если нет, то ошибку -->
          <% if @card.nil? %>
            <span class="error">Непросмотренных карточек нет</span>
          <% else %>
            <%= @card.original_text %>
            <!-- Строим форму, делаем ссылку на метод review и передаем ему параметром @card -->
            <%= form_tag review_card_path(@card) do %>
              <%= label_tag :label, "Введите перевод:" %>
              <%= text_field_tag :translated_text %>
              <%= submit_tag "Проверить" %>
            <% end %>
            <% flash.each do |key, value| %>
              <span class="<%= key %>"><%= value %></span>
            <% end %>
          <% end %>
        </p>
      
    </section>

  </section>
