<p id="category">
  Категория: 
  <%= card.category.name %>
</p>
<p id="card_img_p">
  <%= image_tag card.picture.url(:medium) %> 
</p>
<p id='index_form'>
  <%= card.original_text %>
</p>
<%= form_tag(review_user_card_path(current_user, @card), class: "form-horizontal", id: "form_translate", remote: true)  do %>
  <%= hidden_field_tag :timer_value %>
  <%= label_tag :label, "Введите перевод:" %>
  <%= text_field_tag :translated_text %>
  <%= submit_tag "Проверить", class: "btn btn-primary" %>
<% end %>
