<section id="container">
  <% if @cards.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@cards.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
      <% @cards.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  </br>
  <% end %>
  <h1>Edit card <%= @cards.id %></h1>
  <%= form_for :cards, url: card_path(@cards), method: :patch do |f| %>
   <p>
    <%= f.label :Original_Text %><br>
    <%= f.text_area :original_text %>
   </p>
   <p>
    <%= f.label :translated_text %><br>
    <%= f.text_area :translated_text %>
   </p>
   <p>
    <%= f.label :Дата_просмотра_карточки %><br>
    <%= f.text_field :review_date %>
   </p>
   <p>
    <%= f.submit %>
   </p>
  <% end %>
  <br>
  <%= link_to "Home", root_path %>
 </section>
