<section id="container">
  <h1>All Cards</h1>
  <table class="table table-striped">
    <tr>
      <th>Picture</th>
      <th>Категория</th>
      <th>Original Text</th>
      <th>Translated Text</th>
      <th>Дата просмора</th>
      <th colspan="6"></th>
    <tr>
    <% @cards.each do |card| %>
      <tr>
        <td><%= image_tag f.picture.url(:thumb) %></td>
        <% if card.category %>
          <td><%= card.category.name %> </td>
        <% else %>
          <td><%= 'Без категории' %> </td>
        <% end %>
        <td><%= card.original_text %> </td>
        <td><%= card.translated_text %> </td>
        <td><%= card.review_date.strftime("%d/%m/%Y")  %> </td>
        <td><%= link_to 'Показать', user_card_path(current_user, card) %></td>
        <td><%= link_to 'Редактировать', edit_user_card_path(current_user, card) %></td>
        <td><%= link_to 'Удалить', user_card_path(current_user, card), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </table>
  <br>
  <%= link_to "Home", root_path %>
 </section>
