<section id="container">
  <h1>All Cards</h1>
  <table border="1" cellpadding="8">
    <tr>
      <th>Original Text</th>
      <th>Translated Text</th>
      <th>Дата просмора</th>
      <th colspan="2"></th>
    <tr>
    <% @cards.each do |f| %>
      <tr>
        <td><%= f.original_text %> </td>
        <td><%= f.translated_text %> </td>
        <td><%= f.review_date.strftime("%d/%m/%Y")  %> </td>
        <td><%= link_to 'Показать', user_card_path(f) %></td>
        <td><%= link_to 'Редактировать', edit_user_card_path(f) %></td>
        <td><%= link_to 'Удалить', user_card_path(f), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </table>
  <br>
  <%= link_to "Home", root_path %>
 </section>
